<h1>Name: <%= contact.name %></h1>
<h3>Email: <%= contact.email %></h3>
<h4>Phone: <%= contact.phone %></h4>
<article class="article">
    Subject: <%= contact.subject %>
</article>
<h5>Date: <%= contact.createdAt.toDateString() %></h5>